.input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.title {
  margin-bottom: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}


/* .btn-primary,
.btn-submit {
  display: flex;
  background-color: #fafafa;
  color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}
.btn-primary:hover,
.btn-submit:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
.btn-primary:active,
.btn-submit:active {
  display: inline-block;
  background-color: var(--text-color);
  color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: 1.2rem;
}
.btn-secondary {
  display: inline-block;
  border-style: none;
  padding: 0.5rem 1rem;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: left;
} */
.info {
  font-display: block;
  color: #0a253d;
  font-size: 1rem;
}

.slider-container {
  display: flex;
  width: 800px;

  flex-direction: column;
  align-items: center;

}
Slider {
scale: 1.5;
}
.note{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  width: 800px;
}
.btn-submit {
  display: flex;
  background-color: #fafafa;
  color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}
/* textarea#notes {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}
textarea#notes::placeholder {
  color: #888;
  font-style: italic;
} */
